WSDL_named_changed/WSDL_named/astronomy_1.wsdl

<?xml version="1.0" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bernera.zapto.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://bernera.zapto.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns sunrise or sunset time for a given decimal latitude(negative if south of equator) and longitude(negative if west of Greenwich) on a given date, or the current phase of the moon.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bernera.zapto.org/">
      <s:element name="showSunrise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="theDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="GMToffsetHours" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="showSunriseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showSunriseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="showSunset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="theDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="GMToffsetHours" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="showSunsetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showSunsetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="moonAge">
        <s:complexType />
      </s:element>
      <s:element name="moonAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moonAgeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="moonPhase">
        <s:complexType />
      </s:element>
      <s:element name="moonPhaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moonPhaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="showSunriseSoapIn">
    <wsdl:part name="parameters" element="tns:showSunrise" />
  </wsdl:message>
  <wsdl:message name="showSunriseSoapOut">
    <wsdl:part name="parameters" element="tns:showSunriseResponse" />
  </wsdl:message>
  <wsdl:message name="showSunsetSoapIn">
    <wsdl:part name="parameters" element="tns:showSunset" />
  </wsdl:message>
  <wsdl:message name="showSunsetSoapOut">
    <wsdl:part name="parameters" element="tns:showSunsetResponse" />
  </wsdl:message>
  <wsdl:message name="moonAgeSoapIn">
    <wsdl:part name="parameters" element="tns:moonAge" />
  </wsdl:message>
  <wsdl:message name="moonAgeSoapOut">
    <wsdl:part name="parameters" element="tns:moonAgeResponse" />
  </wsdl:message>
  <wsdl:message name="moonPhaseSoapIn">
    <wsdl:part name="parameters" element="tns:moonPhase" />
  </wsdl:message>
  <wsdl:message name="moonPhaseSoapOut">
    <wsdl:part name="parameters" element="tns:moonPhaseResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="astronomySoap">
    <wsdl:operation name="showSunrise">
      <wsdl:input message="tns:showSunriseSoapIn" />
      <wsdl:output message="tns:showSunriseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showSunset">
      <wsdl:input message="tns:showSunsetSoapIn" />
      <wsdl:output message="tns:showSunsetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="moonAge">
      <wsdl:input message="tns:moonAgeSoapIn" />
      <wsdl:output message="tns:moonAgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="moonPhase">
      <wsdl:input message="tns:moonPhaseSoapIn" />
      <wsdl:output message="tns:moonPhaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="astronomySoap" type="tns:astronomySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="showSunrise">
      <soap:operation soapAction="http://bernera.zapto.org/showSunrise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showSunset">
      <soap:operation soapAction="http://bernera.zapto.org/showSunset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moonAge">
      <soap:operation soapAction="http://bernera.zapto.org/moonAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moonPhase">
      <soap:operation soapAction="http://bernera.zapto.org/moonPhase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://bernera.zapto.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="astronomySoap12" type="tns:astronomySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="showSunrise">
      <soap12:operation soapAction="http://bernera.zapto.org/showSunrise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showSunset">
      <soap12:operation soapAction="http://bernera.zapto.org/showSunset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moonAge">
      <soap12:operation soapAction="http://bernera.zapto.org/moonAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moonPhase">
      <soap12:operation soapAction="http://bernera.zapto.org/moonPhase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://bernera.zapto.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="astronomy">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns sunrise or sunset time for a given decimal latitude(negative if south of equator) and longitude(negative if west of Greenwich) on a given date, or the current phase of the moon.</wsdl:documentation>
    <wsdl:port name="astronomySoap" binding="tns:astronomySoap">
      <soap:address location="http://bernera.zapto.org/astronomy/astronomy.asmx" />
    </wsdl:port>
    <wsdl:port name="astronomySoap12" binding="tns:astronomySoap12">
      <soap12:address location="http://bernera.zapto.org/astronomy/astronomy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>