WSDL_named_changed/WSDL_named/egmSorguService_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://egm.sbm.org.tr" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://egm.sbm.org.tr" name="egmSorguService">
<types>
<xsd:schema>
<xsd:import namespace="http://egm.sbm.org.tr" schemaLocation="https://www.sbm.org.tr/EgmSorguService-prod-V1.0/egmSorguService?xsd=1"/>
</xsd:schema>
</types>
<message name="tescilSorgu">
<part name="parameters" element="tns:tescilSorgu"/>
</message>
<message name="tescilSorguResponse">
<part name="parameters" element="tns:tescilSorguResponse"/>
</message>
<message name="SbmServiceException">
<part name="fault" element="tns:SbmServiceException"/>
</message>
<message name="msmSorgu">
<part name="parameters" element="tns:msmSorgu"/>
</message>
<message name="msmSorguResponse">
<part name="parameters" element="tns:msmSorguResponse"/>
</message>
<portType name="EgmSorguService">
<operation name="tescilSorgu">
<input message="tns:tescilSorgu"/>
<output message="tns:tescilSorguResponse"/>
<fault message="tns:SbmServiceException" name="SbmServiceException"/>
</operation>
<operation name="msmSorgu">
<input message="tns:msmSorgu"/>
<output message="tns:msmSorguResponse"/>
<fault message="tns:SbmServiceException" name="SbmServiceException"/>
</operation>
</portType>
<binding name="egmSorguBinding" type="tns:EgmSorguService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tescilSorgu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SbmServiceException">
<soap:fault name="SbmServiceException" use="literal"/>
</fault>
</operation>
<operation name="msmSorgu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SbmServiceException">
<soap:fault name="SbmServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="egmSorguService">
<port name="egmSorgu" binding="tns:egmSorguBinding">
<soap:address location="https://www.sbm.org.tr/EgmSorguService-prod-V1.0/egmSorguService"/>
</port>
</service>
</definitions>