WSDL_named_changed/WSDL_named/EssaiJavaWebService_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Ressources/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Ressources/" name="EssaiJavaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Ressources/" schemaLocation="http://orws2.isima.fr:80/EssaiJavaWebService/EssaiJavaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="split">
<part name="parameters" element="tns:split"/>
</message>
<message name="splitResponse">
<part name="parameters" element="tns:splitResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="check">
<part name="parameters" element="tns:check"/>
</message>
<message name="checkResponse">
<part name="parameters" element="tns:checkResponse"/>
</message>
<message name="expliciter_erreur">
<part name="parameters" element="tns:expliciter_erreur"/>
</message>
<message name="expliciter_erreurResponse">
<part name="parameters" element="tns:expliciter_erreurResponse"/>
</message>
<message name="recherche_locale">
<part name="parameters" element="tns:recherche_locale"/>
</message>
<message name="recherche_localeResponse">
<part name="parameters" element="tns:recherche_localeResponse"/>
</message>
<message name="start_grasp">
<part name="parameters" element="tns:start_grasp"/>
</message>
<message name="start_graspResponse">
<part name="parameters" element="tns:start_graspResponse"/>
</message>
<message name="resultat">
<part name="parameters" element="tns:resultat"/>
</message>
<message name="resultatResponse">
<part name="parameters" element="tns:resultatResponse"/>
</message>
<message name="stop_grasp">
<part name="parameters" element="tns:stop_grasp"/>
</message>
<message name="stop_graspResponse">
<part name="parameters" element="tns:stop_graspResponse"/>
</message>
<message name="tour_geant">
<part name="parameters" element="tns:tour_geant"/>
</message>
<message name="tour_geantResponse">
<part name="parameters" element="tns:tour_geantResponse"/>
</message>
<portType name="EssaiJavaWebService">
<operation name="split">
<input wsam:Action="http://Ressources/EssaiJavaWebService/splitRequest" message="tns:split"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/splitResponse" message="tns:splitResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/split/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/split/Fault/InterruptedException"/>
</operation>
<operation name="check">
<input wsam:Action="http://Ressources/EssaiJavaWebService/checkRequest" message="tns:check"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/checkResponse" message="tns:checkResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/check/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/check/Fault/InterruptedException"/>
</operation>
<operation name="expliciter_erreur">
<input wsam:Action="http://Ressources/EssaiJavaWebService/expliciter_erreurRequest" message="tns:expliciter_erreur"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/expliciter_erreurResponse" message="tns:expliciter_erreurResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/expliciter_erreur/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/expliciter_erreur/Fault/InterruptedException"/>
</operation>
<operation name="recherche_locale">
<input wsam:Action="http://Ressources/EssaiJavaWebService/recherche_localeRequest" message="tns:recherche_locale"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/recherche_localeResponse" message="tns:recherche_localeResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/recherche_locale/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/recherche_locale/Fault/InterruptedException"/>
</operation>
<operation name="start_grasp">
<input wsam:Action="http://Ressources/EssaiJavaWebService/start_graspRequest" message="tns:start_grasp"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/start_graspResponse" message="tns:start_graspResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/start_grasp/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/start_grasp/Fault/InterruptedException"/>
</operation>
<operation name="resultat">
<input wsam:Action="http://Ressources/EssaiJavaWebService/resultatRequest" message="tns:resultat"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/resultatResponse" message="tns:resultatResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/resultat/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/resultat/Fault/InterruptedException"/>
</operation>
<operation name="stop_grasp">
<input wsam:Action="http://Ressources/EssaiJavaWebService/stop_graspRequest" message="tns:stop_grasp"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/stop_graspResponse" message="tns:stop_graspResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/stop_grasp/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/stop_grasp/Fault/InterruptedException"/>
</operation>
<operation name="tour_geant">
<input wsam:Action="http://Ressources/EssaiJavaWebService/tour_geantRequest" message="tns:tour_geant"/>
<output wsam:Action="http://Ressources/EssaiJavaWebService/tour_geantResponse" message="tns:tour_geantResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Ressources/EssaiJavaWebService/tour_geant/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://Ressources/EssaiJavaWebService/tour_geant/Fault/InterruptedException"/>
</operation>
</portType>
<binding name="EssaiJavaWebServicePortBinding" type="tns:EssaiJavaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="split">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="check">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="expliciter_erreur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="recherche_locale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="start_grasp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="resultat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="stop_grasp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="tour_geant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EssaiJavaWebService">
<port name="EssaiJavaWebServicePort" binding="tns:EssaiJavaWebServicePortBinding">
<soap:address location="http://orws2.isima.fr:80/EssaiJavaWebService/EssaiJavaWebService"/>
</port>
</service>
</definitions>