WSDL_named_changed/WSDL_named/Recuperation_donnee_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="Recuperation_donnee">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://orws2.isima.fr:80/Recuperation_donnee/Recuperation_donnee?xsd=1"/>
</xsd:schema>
</types>
<message name="recuperer_resultat_guidage">
<part name="parameters" element="tns:recuperer_resultat_guidage"/>
</message>
<message name="recuperer_resultat_guidageResponse">
<part name="parameters" element="tns:recuperer_resultat_guidageResponse"/>
</message>
<message name="lire_code_erreur">
<part name="parameters" element="tns:lire_code_erreur"/>
</message>
<message name="lire_code_erreurResponse">
<part name="parameters" element="tns:lire_code_erreurResponse"/>
</message>
<message name="demarrer_guidage">
<part name="parameters" element="tns:demarrer_guidage"/>
</message>
<message name="demarrer_guidageResponse">
<part name="parameters" element="tns:demarrer_guidageResponse"/>
</message>
<message name="tester_etat_demande">
<part name="parameters" element="tns:tester_etat_demande"/>
</message>
<message name="tester_etat_demandeResponse">
<part name="parameters" element="tns:tester_etat_demandeResponse"/>
</message>
<message name="recuperer_graphe">
<part name="parameters" element="tns:recuperer_graphe"/>
</message>
<message name="recuperer_grapheResponse">
<part name="parameters" element="tns:recuperer_grapheResponse"/>
</message>
<portType name="Recuperation_donnee">
<operation name="recuperer_resultat_guidage">
<input wsam:Action="http://test/Recuperation_donnee/recuperer_resultat_guidageRequest" message="tns:recuperer_resultat_guidage"/>
<output wsam:Action="http://test/Recuperation_donnee/recuperer_resultat_guidageResponse" message="tns:recuperer_resultat_guidageResponse"/>
</operation>
<operation name="lire_code_erreur">
<input wsam:Action="http://test/Recuperation_donnee/lire_code_erreurRequest" message="tns:lire_code_erreur"/>
<output wsam:Action="http://test/Recuperation_donnee/lire_code_erreurResponse" message="tns:lire_code_erreurResponse"/>
</operation>
<operation name="demarrer_guidage">
<input wsam:Action="http://test/Recuperation_donnee/demarrer_guidageRequest" message="tns:demarrer_guidage"/>
<output wsam:Action="http://test/Recuperation_donnee/demarrer_guidageResponse" message="tns:demarrer_guidageResponse"/>
</operation>
<operation name="tester_etat_demande">
<input wsam:Action="http://test/Recuperation_donnee/tester_etat_demandeRequest" message="tns:tester_etat_demande"/>
<output wsam:Action="http://test/Recuperation_donnee/tester_etat_demandeResponse" message="tns:tester_etat_demandeResponse"/>
</operation>
<operation name="recuperer_graphe">
<input wsam:Action="http://test/Recuperation_donnee/recuperer_grapheRequest" message="tns:recuperer_graphe"/>
<output wsam:Action="http://test/Recuperation_donnee/recuperer_grapheResponse" message="tns:recuperer_grapheResponse"/>
</operation>
</portType>
<binding name="Recuperation_donneePortBinding" type="tns:Recuperation_donnee">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="recuperer_resultat_guidage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lire_code_erreur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="demarrer_guidage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tester_etat_demande">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recuperer_graphe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Recuperation_donnee">
<port name="Recuperation_donneePort" binding="tns:Recuperation_donneePortBinding">
<soap:address location="http://orws2.isima.fr:80/Recuperation_donnee/Recuperation_donnee"/>
</port>
</service>
</definitions>