WSDL_named_changed/WSDL_named/VehicleRepairService_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sphinx.dat.de/services/VehicleRepairService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sphinx.dat.de/services/VehicleRepairService" name="VehicleRepairService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.dat.de/vxs" schemaLocation="http://www.dat.de:80/VehicleRepairOnline/services/VehicleRepairService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sphinx.dat.de/services/VehicleRepairService" schemaLocation="http://www.dat.de:80/VehicleRepairOnline/services/VehicleRepairService?xsd=2"/>
</xsd:schema>
</types>
<message name="setBlanketCalculation">
<part name="parameters" element="tns:setBlanketCalculation"/>
</message>
<message name="setBlanketCalculationResponse">
<part name="parameters" element="tns:setBlanketCalculationResponse"/>
</message>
<message name="exportToDocument">
<part name="parameters" element="tns:exportToDocument"/>
</message>
<message name="exportToDocumentResponse">
<part name="parameters" element="tns:exportToDocumentResponse"/>
</message>
<message name="listTemplates_old">
<part name="parameters" element="tns:listTemplates_old"/>
</message>
<message name="listTemplates_oldResponse">
<part name="parameters" element="tns:listTemplates_oldResponse"/>
</message>
<message name="listTemplates">
<part name="parameters" element="tns:listTemplates"/>
</message>
<message name="listTemplatesResponse">
<part name="parameters" element="tns:listTemplatesResponse"/>
</message>
<message name="getTemplates">
<part name="parameters" element="tns:getTemplates"/>
</message>
<message name="getTemplatesResponse">
<part name="parameters" element="tns:getTemplatesResponse"/>
</message>
<message name="createContract106">
<part name="parameters" element="tns:createContract106"/>
</message>
<message name="createContract106Response">
<part name="parameters" element="tns:createContract106Response"/>
</message>
<message name="createContract">
<part name="parameters" element="tns:createContract"/>
</message>
<message name="createContractResponse">
<part name="parameters" element="tns:createContractResponse"/>
</message>
<message name="getDVNEquipments">
<part name="parameters" element="tns:getDVNEquipments"/>
</message>
<message name="getDVNEquipmentsResponse">
<part name="parameters" element="tns:getDVNEquipmentsResponse"/>
</message>
<message name="getContractList">
<part name="parameters" element="tns:getContractList"/>
</message>
<message name="getContractListResponse">
<part name="parameters" element="tns:getContractListResponse"/>
</message>
<message name="getValidDATProcesses">
<part name="parameters" element="tns:getValidDATProcesses"/>
</message>
<message name="getValidDATProcessesResponse">
<part name="parameters" element="tns:getValidDATProcessesResponse"/>
</message>
<message name="getLacquerTypeKeys">
<part name="parameters" element="tns:getLacquerTypeKeys"/>
</message>
<message name="getLacquerTypeKeysResponse">
<part name="parameters" element="tns:getLacquerTypeKeysResponse"/>
</message>
<message name="getInsurances">
<part name="parameters" element="tns:getInsurances"/>
</message>
<message name="getInsurancesResponse">
<part name="parameters" element="tns:getInsurancesResponse"/>
</message>
<message name="calculateContract">
<part name="parameters" element="tns:calculateContract"/>
</message>
<message name="calculateContractResponse">
<part name="parameters" element="tns:calculateContractResponse"/>
</message>
<message name="calculate">
<part name="parameters" element="tns:calculate"/>
</message>
<message name="calculateResponse">
<part name="parameters" element="tns:calculateResponse"/>
</message>
<message name="getContract">
<part name="parameters" element="tns:getContract"/>
</message>
<message name="getContractResponse">
<part name="parameters" element="tns:getContractResponse"/>
</message>
<message name="getCalculationResults">
<part name="parameters" element="tns:getCalculationResults"/>
</message>
<message name="getCalculationResultsResponse">
<part name="parameters" element="tns:getCalculationResultsResponse"/>
</message>
<message name="getMaintenanceIntervals">
<part name="parameters" element="tns:getMaintenanceIntervals"/>
</message>
<message name="getMaintenanceIntervalsResponse">
<part name="parameters" element="tns:getMaintenanceIntervalsResponse"/>
</message>
<message name="exportDossierToDocument">
<part name="parameters" element="tns:exportDossierToDocument"/>
</message>
<message name="exportDossierToDocumentResponse">
<part name="parameters" element="tns:exportDossierToDocumentResponse"/>
</message>
<message name="getAssemblyGroups">
<part name="parameters" element="tns:getAssemblyGroups"/>
</message>
<message name="getAssemblyGroupsResponse">
<part name="parameters" element="tns:getAssemblyGroupsResponse"/>
</message>
<message name="getAssemblyGroupGraphic">
<part name="parameters" element="tns:getAssemblyGroupGraphic"/>
</message>
<message name="getAssemblyGroupGraphicResponse">
<part name="parameters" element="tns:getAssemblyGroupGraphicResponse"/>
</message>
<message name="importDossier">
<part name="parameters" element="tns:importDossier"/>
</message>
<message name="importDossierResponse">
<part name="parameters" element="tns:importDossierResponse"/>
</message>
<message name="getLockedInfo">
<part name="parameters" element="tns:getLockedInfo"/>
</message>
<message name="getLockedInfoResponse">
<part name="parameters" element="tns:getLockedInfoResponse"/>
</message>
<message name="getContractPriceGenerations">
<part name="parameters" element="tns:getContractPriceGenerations"/>
</message>
<message name="getContractPriceGenerationsResponse">
<part name="parameters" element="tns:getContractPriceGenerationsResponse"/>
</message>
<message name="setContractPriceGeneration">
<part name="parameters" element="tns:setContractPriceGeneration"/>
</message>
<message name="setContractPriceGenerationResponse">
<part name="parameters" element="tns:setContractPriceGenerationResponse"/>
</message>
<message name="getCalculationResultsWithProtocol">
<part name="parameters" element="tns:getCalculationResultsWithProtocol"/>
</message>
<message name="getCalculationResultsWithProtocolResponse">
<part name="parameters" element="tns:getCalculationResultsWithProtocolResponse"/>
</message>
<portType name="VehicleRepairService">
<operation name="setBlanketCalculation">
<input wsam:Action="setBlanketCalculation" message="tns:setBlanketCalculation"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/setBlanketCalculationResponse" message="tns:setBlanketCalculationResponse"/>
</operation>
<operation name="exportToDocument">
<input wsam:Action="exportToDocument" message="tns:exportToDocument"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/exportToDocumentResponse" message="tns:exportToDocumentResponse"/>
</operation>
<operation name="listTemplates_old">
<input wsam:Action="listTemplates_old" message="tns:listTemplates_old"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/listTemplates_oldResponse" message="tns:listTemplates_oldResponse"/>
</operation>
<operation name="listTemplates">
<input wsam:Action="listTemplates" message="tns:listTemplates"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/listTemplatesResponse" message="tns:listTemplatesResponse"/>
</operation>
<operation name="getTemplates">
<input wsam:Action="getTemplates" message="tns:getTemplates"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getTemplatesResponse" message="tns:getTemplatesResponse"/>
</operation>
<operation name="createContract106">
<input wsam:Action="createContract106" message="tns:createContract106"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/createContract106Response" message="tns:createContract106Response"/>
</operation>
<operation name="createContract">
<input wsam:Action="createContract" message="tns:createContract"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/createContractResponse" message="tns:createContractResponse"/>
</operation>
<operation name="getDVNEquipments">
<input wsam:Action="getDVNEquipments" message="tns:getDVNEquipments"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getDVNEquipmentsResponse" message="tns:getDVNEquipmentsResponse"/>
</operation>
<operation name="getContractList">
<input wsam:Action="getContractList" message="tns:getContractList"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getContractListResponse" message="tns:getContractListResponse"/>
</operation>
<operation name="getValidDATProcesses">
<input wsam:Action="getValidDATProcesses" message="tns:getValidDATProcesses"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getValidDATProcessesResponse" message="tns:getValidDATProcessesResponse"/>
</operation>
<operation name="getLacquerTypeKeys">
<input wsam:Action="getLacquerTypeKeys" message="tns:getLacquerTypeKeys"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getLacquerTypeKeysResponse" message="tns:getLacquerTypeKeysResponse"/>
</operation>
<operation name="getInsurances">
<input wsam:Action="getInsurances" message="tns:getInsurances"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getInsurancesResponse" message="tns:getInsurancesResponse"/>
</operation>
<operation name="calculateContract">
<input wsam:Action="calculateContract" message="tns:calculateContract"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/calculateContractResponse" message="tns:calculateContractResponse"/>
</operation>
<operation name="calculate">
<input wsam:Action="calculate" message="tns:calculate"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/calculateResponse" message="tns:calculateResponse"/>
</operation>
<operation name="getContract">
<input wsam:Action="getContract" message="tns:getContract"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getContractResponse" message="tns:getContractResponse"/>
</operation>
<operation name="getCalculationResults">
<input wsam:Action="getCalculationResults" message="tns:getCalculationResults"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getCalculationResultsResponse" message="tns:getCalculationResultsResponse"/>
</operation>
<operation name="getMaintenanceIntervals">
<input wsam:Action="getMaintenanceIntervals" message="tns:getMaintenanceIntervals"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getMaintenanceIntervalsResponse" message="tns:getMaintenanceIntervalsResponse"/>
</operation>
<operation name="exportDossierToDocument">
<input wsam:Action="exportDossierToDocument" message="tns:exportDossierToDocument"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/exportDossierToDocumentResponse" message="tns:exportDossierToDocumentResponse"/>
</operation>
<operation name="getAssemblyGroups">
<input wsam:Action="getAssemblyGroups" message="tns:getAssemblyGroups"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getAssemblyGroupsResponse" message="tns:getAssemblyGroupsResponse"/>
</operation>
<operation name="getAssemblyGroupGraphic">
<input wsam:Action="getAssemblyGroupGraphic" message="tns:getAssemblyGroupGraphic"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getAssemblyGroupGraphicResponse" message="tns:getAssemblyGroupGraphicResponse"/>
</operation>
<operation name="importDossier">
<input wsam:Action="importDossier" message="tns:importDossier"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/importDossierResponse" message="tns:importDossierResponse"/>
</operation>
<operation name="getLockedInfo">
<input wsam:Action="getLockedInfo" message="tns:getLockedInfo"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getLockedInfoResponse" message="tns:getLockedInfoResponse"/>
</operation>
<operation name="getContractPriceGenerations">
<input wsam:Action="getContractPriceGenerations" message="tns:getContractPriceGenerations"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getContractPriceGenerationsResponse" message="tns:getContractPriceGenerationsResponse"/>
</operation>
<operation name="setContractPriceGeneration">
<input wsam:Action="setContractPriceGeneration" message="tns:setContractPriceGeneration"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/setContractPriceGenerationResponse" message="tns:setContractPriceGenerationResponse"/>
</operation>
<operation name="getCalculationResultsWithProtocol">
<input wsam:Action="getCalculationResultsWithProtocol" message="tns:getCalculationResultsWithProtocol"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleRepairService/VehicleRepairService/getCalculationResultsWithProtocolResponse" message="tns:getCalculationResultsWithProtocolResponse"/>
</operation>
</portType>
<binding name="VehicleRepairServicePortBinding" type="tns:VehicleRepairService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setBlanketCalculation">
<soap:operation soapAction="setBlanketCalculation"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportToDocument">
<soap:operation soapAction="exportToDocument"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listTemplates_old">
<soap:operation soapAction="listTemplates_old"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listTemplates">
<soap:operation soapAction="listTemplates"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTemplates">
<soap:operation soapAction="getTemplates"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createContract106">
<soap:operation soapAction="createContract106"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createContract">
<soap:operation soapAction="createContract"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDVNEquipments">
<soap:operation soapAction="getDVNEquipments"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getContractList">
<soap:operation soapAction="getContractList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getValidDATProcesses">
<soap:operation soapAction="getValidDATProcesses"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLacquerTypeKeys">
<soap:operation soapAction="getLacquerTypeKeys"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInsurances">
<soap:operation soapAction="getInsurances"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateContract">
<soap:operation soapAction="calculateContract"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculate">
<soap:operation soapAction="calculate"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getContract">
<soap:operation soapAction="getContract"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCalculationResults">
<soap:operation soapAction="getCalculationResults"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMaintenanceIntervals">
<soap:operation soapAction="getMaintenanceIntervals"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportDossierToDocument">
<soap:operation soapAction="exportDossierToDocument"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssemblyGroups">
<soap:operation soapAction="getAssemblyGroups"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssemblyGroupGraphic">
<soap:operation soapAction="getAssemblyGroupGraphic"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="importDossier">
<soap:operation soapAction="importDossier"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLockedInfo">
<soap:operation soapAction="getLockedInfo"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getContractPriceGenerations">
<soap:operation soapAction="getContractPriceGenerations"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setContractPriceGeneration">
<soap:operation soapAction="setContractPriceGeneration"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCalculationResultsWithProtocol">
<soap:operation soapAction="getCalculationResultsWithProtocol"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VehicleRepairService">
<port name="VehicleRepairServicePort" binding="tns:VehicleRepairServicePortBinding">
<soap:address location="http://www.dat.de:80/VehicleRepairOnline/services/VehicleRepairService"/>
</port>
</service>
</definitions>