WSDL_named_changed/WSDL_named/VehicleIdentificationService_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sphinx.dat.de/services/VehicleIdentificationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sphinx.dat.de/services/VehicleIdentificationService" name="VehicleIdentificationService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.dat.de/vxs" schemaLocation="http://www.dat.de:80/VehicleRepairOnline/services/VehicleIdentificationService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sphinx.dat.de/services/VehicleIdentificationService" schemaLocation="http://www.dat.de:80/VehicleRepairOnline/services/VehicleIdentificationService?xsd=2"/>
</xsd:schema>
</types>
<message name="getVehicleTranslation">
<part name="parameters" element="tns:getVehicleTranslation"/>
</message>
<message name="getVehicleTranslationResponse">
<part name="parameters" element="tns:getVehicleTranslationResponse"/>
</message>
<message name="getVinByOcr">
<part name="parameters" element="tns:getVinByOcr"/>
</message>
<message name="getVinByOcrResponse">
<part name="parameters" element="tns:getVinByOcrResponse"/>
</message>
<message name="getVehicleIdentification">
<part name="parameters" element="tns:getVehicleIdentification"/>
</message>
<message name="getVehicleIdentificationResponse">
<part name="parameters" element="tns:getVehicleIdentificationResponse"/>
</message>
<message name="getVehicleIdentificationByTypecode">
<part name="parameters" element="tns:getVehicleIdentificationByTypecode"/>
</message>
<message name="getVehicleIdentificationByTypecodeResponse">
<part name="parameters" element="tns:getVehicleIdentificationByTypecodeResponse"/>
</message>
<message name="getVinByLicencePlateItaly">
<part name="parameters" element="tns:getVinByLicencePlateItaly"/>
</message>
<message name="getVinByLicencePlateItalyResponse">
<part name="parameters" element="tns:getVinByLicencePlateItalyResponse"/>
</message>
<message name="getVehicleIdentificationByNationalCodeAustria">
<part name="parameters" element="tns:getVehicleIdentificationByNationalCodeAustria"/>
</message>
<message name="getVehicleIdentificationByNationalCodeAustriaResponse">
<part name="parameters" element="tns:getVehicleIdentificationByNationalCodeAustriaResponse"/>
</message>
<message name="getVehicleIdentificationByCodeSwitzerland">
<part name="parameters" element="tns:getVehicleIdentificationByCodeSwitzerland"/>
</message>
<message name="getVehicleIdentificationByCodeSwitzerlandResponse">
<part name="parameters" element="tns:getVehicleIdentificationByCodeSwitzerlandResponse"/>
</message>
<message name="getVehicleIdentificationByVin">
<part name="parameters" element="tns:getVehicleIdentificationByVin"/>
</message>
<message name="getVehicleIdentificationByVinResponse">
<part name="parameters" element="tns:getVehicleIdentificationByVinResponse"/>
</message>
<message name="getVehicleIdentificationByKba">
<part name="parameters" element="tns:getVehicleIdentificationByKba"/>
</message>
<message name="getVehicleIdentificationByKbaResponse">
<part name="parameters" element="tns:getVehicleIdentificationByKbaResponse"/>
</message>
<portType name="VehicleIdentificationService">
<operation name="getVehicleTranslation">
<input wsam:Action="getVehicleTranslation" message="tns:getVehicleTranslation"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleTranslationResponse" message="tns:getVehicleTranslationResponse"/>
</operation>
<operation name="getVinByOcr">
<input wsam:Action="getVinByOcr" message="tns:getVinByOcr"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVinByOcrResponse" message="tns:getVinByOcrResponse"/>
</operation>
<operation name="getVehicleIdentification">
<input wsam:Action="getVehicleIdentification" message="tns:getVehicleIdentification"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleIdentificationResponse" message="tns:getVehicleIdentificationResponse"/>
</operation>
<operation name="getVehicleIdentificationByTypecode">
<input wsam:Action="getVehicleIdentificationByTypecode" message="tns:getVehicleIdentificationByTypecode"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleIdentificationByTypecodeResponse" message="tns:getVehicleIdentificationByTypecodeResponse"/>
</operation>
<operation name="getVinByLicencePlateItaly">
<input wsam:Action="getVinByLicencePlateItaly" message="tns:getVinByLicencePlateItaly"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVinByLicencePlateItalyResponse" message="tns:getVinByLicencePlateItalyResponse"/>
</operation>
<operation name="getVehicleIdentificationByNationalCodeAustria">
<input wsam:Action="getVehicleIdentificationByNationalCodeAustria" message="tns:getVehicleIdentificationByNationalCodeAustria"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleIdentificationByNationalCodeAustriaResponse" message="tns:getVehicleIdentificationByNationalCodeAustriaResponse"/>
</operation>
<operation name="getVehicleIdentificationByCodeSwitzerland">
<input wsam:Action="getVehicleIdentificationByCodeSwitzerland" message="tns:getVehicleIdentificationByCodeSwitzerland"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleIdentificationByCodeSwitzerlandResponse" message="tns:getVehicleIdentificationByCodeSwitzerlandResponse"/>
</operation>
<operation name="getVehicleIdentificationByVin">
<input wsam:Action="getVehicleIdentificationByVin" message="tns:getVehicleIdentificationByVin"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleIdentificationByVinResponse" message="tns:getVehicleIdentificationByVinResponse"/>
</operation>
<operation name="getVehicleIdentificationByKba">
<input wsam:Action="getVehicleIdentificationByKba" message="tns:getVehicleIdentificationByKba"/>
<output wsam:Action="http://sphinx.dat.de/services/VehicleIdentificationService/VehicleIdentificationService/getVehicleIdentificationByKbaResponse" message="tns:getVehicleIdentificationByKbaResponse"/>
</operation>
</portType>
<binding name="VehicleIdentificationServicePortBinding" type="tns:VehicleIdentificationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVehicleTranslation">
<soap:operation soapAction="getVehicleTranslation"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVinByOcr">
<soap:operation soapAction="getVinByOcr"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleIdentification">
<soap:operation soapAction="getVehicleIdentification"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleIdentificationByTypecode">
<soap:operation soapAction="getVehicleIdentificationByTypecode"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVinByLicencePlateItaly">
<soap:operation soapAction="getVinByLicencePlateItaly"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleIdentificationByNationalCodeAustria">
<soap:operation soapAction="getVehicleIdentificationByNationalCodeAustria"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleIdentificationByCodeSwitzerland">
<soap:operation soapAction="getVehicleIdentificationByCodeSwitzerland"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleIdentificationByVin">
<soap:operation soapAction="getVehicleIdentificationByVin"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleIdentificationByKba">
<soap:operation soapAction="getVehicleIdentificationByKba"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VehicleIdentificationService">
<port name="VehicleIdentificationServicePort" binding="tns:VehicleIdentificationServicePortBinding">
<soap:address location="http://www.dat.de:80/VehicleRepairOnline/services/VehicleIdentificationService"/>
</port>
</service>
</definitions>