WSDL_named_changed/WSDL_named/WebServiceRO_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices/" name="WebServiceRO">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices/" schemaLocation="http://orws2.isima.fr:80/WebServiceRO/WebServiceROSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="readResult">
<part name="parameters" element="tns:readResult"/>
</message>
<message name="readResultResponse">
<part name="parameters" element="tns:readResultResponse"/>
</message>
<message name="whichError">
<part name="parameters" element="tns:whichError"/>
</message>
<message name="whichErrorResponse">
<part name="parameters" element="tns:whichErrorResponse"/>
</message>
<message name="startThread_SVGtoPNG">
<part name="parameters" element="tns:startThread_SVGtoPNG"/>
</message>
<message name="startThread_SVGtoPNGResponse">
<part name="parameters" element="tns:startThread_SVGtoPNGResponse"/>
</message>
<message name="isCompleteThread">
<part name="parameters" element="tns:isCompleteThread"/>
</message>
<message name="isCompleteThreadResponse">
<part name="parameters" element="tns:isCompleteThreadResponse"/>
</message>
<portType name="WebServiceROSoap">
<operation name="readResult">
<input wsam:Action="http://webServices/WebServiceROSoap/readResultRequest" message="tns:readResult"/>
<output wsam:Action="http://webServices/WebServiceROSoap/readResultResponse" message="tns:readResultResponse"/>
</operation>
<operation name="whichError">
<input wsam:Action="http://webServices/WebServiceROSoap/whichErrorRequest" message="tns:whichError"/>
<output wsam:Action="http://webServices/WebServiceROSoap/whichErrorResponse" message="tns:whichErrorResponse"/>
</operation>
<operation name="startThread_SVGtoPNG">
<input wsam:Action="http://webServices/WebServiceROSoap/startThread_SVGtoPNGRequest" message="tns:startThread_SVGtoPNG"/>
<output wsam:Action="http://webServices/WebServiceROSoap/startThread_SVGtoPNGResponse" message="tns:startThread_SVGtoPNGResponse"/>
</operation>
<operation name="isCompleteThread">
<input wsam:Action="http://webServices/WebServiceROSoap/isCompleteThreadRequest" message="tns:isCompleteThread"/>
<output wsam:Action="http://webServices/WebServiceROSoap/isCompleteThreadResponse" message="tns:isCompleteThreadResponse"/>
</operation>
</portType>
<binding name="WebServiceROSoapPortBinding" type="tns:WebServiceROSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="whichError">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startThread_SVGtoPNG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isCompleteThread">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceRO">
<port name="WebServiceROSoapPort" binding="tns:WebServiceROSoapPortBinding">
<soap:address location="http://orws2.isima.fr:80/WebServiceRO/WebServiceROSoap"/>
</port>
</service>
</definitions>