WSDL_named_changed/WSDL_named/WebServiceJobShop_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebServiceJobShop">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://orws2.isima.fr:80/WebServiceJobShop/WebServiceJobShop?xsd=1"/>
</xsd:schema>
</types>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<message name="evaluate">
<part name="parameters" element="tns:evaluate"/>
</message>
<message name="evaluateResponse">
<part name="parameters" element="tns:evaluateResponse"/>
</message>
<message name="getRandomBierwithVector">
<part name="parameters" element="tns:getRandomBierwithVector"/>
</message>
<message name="getRandomBierwithVectorResponse">
<part name="parameters" element="tns:getRandomBierwithVectorResponse"/>
</message>
<message name="getNeighbourBierwithVector">
<part name="parameters" element="tns:getNeighbourBierwithVector"/>
</message>
<message name="getNeighbourBierwithVectorResponse">
<part name="parameters" element="tns:getNeighbourBierwithVectorResponse"/>
</message>
<message name="isCompleteThread_GRASP">
<part name="parameters" element="tns:isCompleteThread_GRASP"/>
</message>
<message name="isCompleteThread_GRASPResponse">
<part name="parameters" element="tns:isCompleteThread_GRASPResponse"/>
</message>
<message name="stop_GRASP">
<part name="parameters" element="tns:stop_GRASP"/>
</message>
<message name="stop_GRASPResponse">
<part name="parameters" element="tns:stop_GRASPResponse"/>
</message>
<message name="localSearch">
<part name="parameters" element="tns:localSearch"/>
</message>
<message name="localSearchResponse">
<part name="parameters" element="tns:localSearchResponse"/>
</message>
<message name="txtToSvg">
<part name="parameters" element="tns:txtToSvg"/>
</message>
<message name="txtToSvgResponse">
<part name="parameters" element="tns:txtToSvgResponse"/>
</message>
<message name="start_GRASP">
<part name="parameters" element="tns:start_GRASP"/>
</message>
<message name="start_GRASPResponse">
<part name="parameters" element="tns:start_GRASPResponse"/>
</message>
<message name="solutionToSvgFile">
<part name="parameters" element="tns:solutionToSvgFile"/>
</message>
<message name="solutionToSvgFileResponse">
<part name="parameters" element="tns:solutionToSvgFileResponse"/>
</message>
<message name="readResult_GRASP">
<part name="parameters" element="tns:readResult_GRASP"/>
</message>
<message name="readResult_GRASPResponse">
<part name="parameters" element="tns:readResult_GRASPResponse"/>
</message>
<portType name="WebServiceJobShop">
<operation name="getData">
<input wsam:Action="http://WebService/WebServiceJobShop/getDataRequest" message="tns:getData"/>
<output wsam:Action="http://WebService/WebServiceJobShop/getDataResponse" message="tns:getDataResponse"/>
</operation>
<operation name="evaluate">
<input wsam:Action="http://WebService/WebServiceJobShop/evaluateRequest" message="tns:evaluate"/>
<output wsam:Action="http://WebService/WebServiceJobShop/evaluateResponse" message="tns:evaluateResponse"/>
</operation>
<operation name="getRandomBierwithVector">
<input wsam:Action="http://WebService/WebServiceJobShop/getRandomBierwithVectorRequest" message="tns:getRandomBierwithVector"/>
<output wsam:Action="http://WebService/WebServiceJobShop/getRandomBierwithVectorResponse" message="tns:getRandomBierwithVectorResponse"/>
</operation>
<operation name="getNeighbourBierwithVector">
<input wsam:Action="http://WebService/WebServiceJobShop/getNeighbourBierwithVectorRequest" message="tns:getNeighbourBierwithVector"/>
<output wsam:Action="http://WebService/WebServiceJobShop/getNeighbourBierwithVectorResponse" message="tns:getNeighbourBierwithVectorResponse"/>
</operation>
<operation name="isCompleteThread_GRASP">
<input wsam:Action="http://WebService/WebServiceJobShop/isCompleteThread_GRASPRequest" message="tns:isCompleteThread_GRASP"/>
<output wsam:Action="http://WebService/WebServiceJobShop/isCompleteThread_GRASPResponse" message="tns:isCompleteThread_GRASPResponse"/>
</operation>
<operation name="stop_GRASP">
<input wsam:Action="http://WebService/WebServiceJobShop/stop_GRASPRequest" message="tns:stop_GRASP"/>
<output wsam:Action="http://WebService/WebServiceJobShop/stop_GRASPResponse" message="tns:stop_GRASPResponse"/>
</operation>
<operation name="localSearch">
<input wsam:Action="http://WebService/WebServiceJobShop/localSearchRequest" message="tns:localSearch"/>
<output wsam:Action="http://WebService/WebServiceJobShop/localSearchResponse" message="tns:localSearchResponse"/>
</operation>
<operation name="txtToSvg">
<input wsam:Action="http://WebService/WebServiceJobShop/txtToSvgRequest" message="tns:txtToSvg"/>
<output wsam:Action="http://WebService/WebServiceJobShop/txtToSvgResponse" message="tns:txtToSvgResponse"/>
</operation>
<operation name="start_GRASP">
<input wsam:Action="http://WebService/WebServiceJobShop/start_GRASPRequest" message="tns:start_GRASP"/>
<output wsam:Action="http://WebService/WebServiceJobShop/start_GRASPResponse" message="tns:start_GRASPResponse"/>
</operation>
<operation name="solutionToSvgFile">
<input wsam:Action="http://WebService/WebServiceJobShop/solutionToSvgFileRequest" message="tns:solutionToSvgFile"/>
<output wsam:Action="http://WebService/WebServiceJobShop/solutionToSvgFileResponse" message="tns:solutionToSvgFileResponse"/>
</operation>
<operation name="readResult_GRASP">
<input wsam:Action="http://WebService/WebServiceJobShop/readResult_GRASPRequest" message="tns:readResult_GRASP"/>
<output wsam:Action="http://WebService/WebServiceJobShop/readResult_GRASPResponse" message="tns:readResult_GRASPResponse"/>
</operation>
</portType>
<binding name="WebServiceJobShopPortBinding" type="tns:WebServiceJobShop">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="evaluate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRandomBierwithVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNeighbourBierwithVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isCompleteThread_GRASP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stop_GRASP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="localSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="txtToSvg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="start_GRASP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solutionToSvgFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readResult_GRASP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceJobShop">
<port name="WebServiceJobShopPort" binding="tns:WebServiceJobShopPortBinding">
<soap:address location="http://orws2.isima.fr:80/WebServiceJobShop/WebServiceJobShop"/>
</port>
</service>
</definitions>